body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #AFD2E9;
}

#header {
  background-color: #fff;
  color: hwb(0 50% 50%);
  border-bottom: 4px solid;
  border-color: #FFA3BC;
  padding: 5px;
  text-align: center;
}

#header nav ul {
  list-style: none;
  padding: 0;
}

#header nav ul li {
  display: inline-block; /* Change to inline-block */
  margin-right: 20px;
}

#header nav ul li a {
  color: #808080;
  text-decoration: none;
}

#header nav ul li a:hover {
  text-decoration: underline;
}

#footer {
  background-color: #fff;
  color: #4D5455;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 4px solid;
  border-color: #FFA3BC;
}

#main-content {
  padding: 20px;
  text-align: center;
  opacity: 0;
  animation: fadeInAnimation 2s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-link {
    padding: 10px;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 30px;
    left: 50%; /* Adjusted to center the dropdown */
    transform: translateX(-50%); /* Adjusted to center the dropdown */
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  